.pending {
  display: inline-block;
  width: inherit;
  height: inherit;
  background: #d1d2d3;
  animation: pulse ease-in-out 1s infinite alternate;
  border-radius: 1em;
  position: absolute;
  top: 2px;
}

.pendingWrapper {
  display: inline-block;
  position: relative;
  width: 6em;
  height: 1em;
  margin: 0 2px;
}

@keyframes pulse {
  from {
    opacity: 25%;
  }
  to {
    opacity: 75%;
  }
}
